
<div class="work-grid">    
    <div class="img" id="work-box-1">
        <img src="assets/favorite.jpg" alt="choose the favorite">
    </div>
    <div class="details" id="work-box-2">
        <p>The project is a simple web application built with JavaScript, HTML, and CSS. It showcases a cat photo and a dog photo, allowing users to select their favorite image. Users can interact with the application by choosing between the cat and dog photos, providing an enjoyable experience for animal lovers.
            <a href="https://favorite-raman.netlify.app" target="_blank">https://favorite-raman.netlify.app/home</a>
        </p>
    </div>
    <div class="img" id="work-box-3">
        <img src="assets/book.jpg" alt="">
    </div>
    <div class="details" id="work-box-4">
        <p> The project "Book" is a web application that provides a platform for users to discover and explore various books. With an intuitive and user-friendly interface, Book offers a wide range of book recommendations, reviews, and author information.
            <a href="https://book-raman.netlify.app" target="_blank">https://book-raman.netlify.app</a>
        </p>
    </div>
    <div class="img" id="work-box-5">
        <img src="assets/todo.jpg" alt="">
    </div>
    <div class="details" id="work-box-6">
        <p>The project is a simple web application where users can create and manage their to-do tasks. Users can write new tasks, mark them as completed, and delete tasks they no longer need. Built with JavaScript, HTML, and CSS, this project provides a straightforward way to organize and track daily tasks efficiently.
            <a href="https://raman-todo.netlify.app" target="_blank">https://raman-todo.netlify.app</a>
        </p>
    </div>
</div>