<div class="about-container">
    <div class="heading" id="about-box-1">
        <h1>A Little Bit About Me</h1>
    </div>
    <div class="about" id="about-box-2">
    <p>My name is Raman, and I am currently pursuing a B.Tech in Computer Science. With a strong foundation in JavaScript, HTML, CSS, Angular, and Java, I am well-versed in web development technologies. I also have a keen interest in UX design, aiming to create intuitive and user-friendly interfaces. Passionate about becoming a software developer, I am continuously expanding my knowledge and skills in the field. I enjoy tackling complex problems, collaborating with teams, and staying up-to-date with the latest industry trends. With a drive for innovation and a dedication to delivering high-quality solutions, I am excited to embark on a fulfilling career in software development.</p>
    </div>
</div>
