*{
  background-color: #202020;
}
.container {
    display: grid;
    grid-template-rows: 1fr 1fr ;  /*you can use px, %, auto etc. here*/
    grid-template-columns: 447px auto;
    grid-template-areas: "left-item right-top" "left-item right-bottom";
    grid-column-gap:10px;

    width: 100vw;
    height: 100vh;
  }
  
  .nav-component {
    grid-area: left-item;
    
    /* background-color: blue; */
  }
  
  .content {
    grid-area: right-top;
    
    /* background-color: red; */
  }
  
  .footer-component {
    grid-area: right-bottom;
    align-self:flex-end;
    
    /* background-color: green; */
  }

  
