<div class="container">
    
    <div class="navHeading">
        <p class="chats">Chats</p>
    </div>
    
    <div class="box" id="box-1" >
        <button [routerLink]="'/home'">Home</button>
    </div>

    <div  class="box" id="box-2" >
        <button [routerLink]="'/about'">About</button>
    </div>

    <div class="box" id="box-3">
        <button  [routerLink]="'/work'">Work</button>
    </div>

    <div class="box" id="box-4">
        <button  [routerLink]="'/contact'">Contact</button>
    </div>
</div>

