/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    position: absolute;
width: 428px;
height: 768px;
left: 0px;
top: 64px;

background: #272727;
border: 15px solid #202020;
}
button{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
border:none;
background-color: #272727;
color:#88959E;
}
#box-1{
    position: absolute;
    width: 101px;
    height: 44px;
    left: 121px;
    top: 194px;
}
#box-2{
    position: absolute;
    width: 103px;
    height: 44px;
    left: 121px;
    top: 277px;
}
#box-3{
    position: absolute;
    width: 87px;
    height: 44px;
    left: 121px;
    top: 360px;
}
#box-4{
    position: absolute;
    width: 136px;
    height: 44px;
    left: 121px;
    top: 443px;
}
.chats{
    position: absolute;
    width: 105px;
    height: 44px;
    left: 16px;
    top: 76px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    
    color: #FFFFFF;
}
 */

 .container{
    margin-top: 0px;
    padding:0;
    width:432px;
    height:693px;
    background: #272727;
    border: 15px solid #202020;

    display:grid;
    grid-template-columns:428px;
    grid-template-rows: 80px 80px 80px 80px 80px 160px;
 }
 .nav-button{
    background-color: #272727;
    border:none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #88959E;
 }
 .box{
    justify-self: center;
    align-self: end;
 }

 p{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
margin:5px 0 0 10px; 
}

.hide-msg{
    display:none;
}
.show-msg{
    display:flex;
}

.popup{
    width:558;
    height:158;
    background-color: #828E97;
    border-radius: 8px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  }
  .thnq{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 47px;
color: #025D4C;
margin-left: 2rem;
  }

  /* .arrow-img{
    width: 44px;
height: 44px;
  }
  #resume-link{
    text-decoration: none;
    color: inherit;
    justify-self: center;
}

#box-5{
    background: #025D4C;
border-radius: 17px;
width: 219.27px;
height: 62px;
}
#resume-grid{
    display: grid;
    grid-template-columns: 50px auto;
} */


.arrow-img{
    width: 44px;
height: 44px;
margin: 4px 0px 10px 7px;
  }
  #resume-button{
    background: #025D4C;
border-radius: 17px;
border: 0;
display: grid;
grid-template-columns: 50px auto;
  }

  #resume-text{
    margin: 4px 15px 9px 15px;
  }

  #resume-button:hover{
    background: #022d25;
  }
