.main{
    margin-top:15px;
}

.header{
    width: 1005px;
    height: 59px;
    background: #272727;
    display:grid;
    /* grid-template-rows: 60px auto; */
    grid-template-columns: 115px auto;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 44px; */
    color: #FFFFFF;
}

.row-1{
    justify-self: right;
    align-self: center;
}

/* chat box */
.body{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 133px 133px 133px 133px;
    height:550px;
}

.chat-box{
    width:200px;
    height:33px;
    background-color:#025d4c;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    margin: 0 50px 0 50px;
}

#body-row-1{
    align-self:center;
}
#body-row-2{
    align-self: center;
    grid-column-start:2;
    grid-row-start:2;
    justify-self:end;
}
#body-row-3{
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 3;
}

.chat{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.2px;
    line-height: 44px;
    color: #FFFFFF;
}

#resume-link{
    text-decoration: none;
    color: inherit;
}
#body-row-4{
    align-self: center;
    grid-row-start:4;
    grid-column-start:2;
    justify-self:end;
}

.hide-msg{
    display:none;
}
.show-msg{
    display:flex;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #424040; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  