.main{
    margin-top:15px;
}

.header{
    width: 1005px;
    height: 59px;
    background: #272727;
    display:grid;
    /* grid-template-rows: 60px auto; */
    grid-template-columns: 115px auto;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 44px; */
    color: #FFFFFF;
}

.row-1{
    justify-self: right;
    align-self: center;
}

/* chat box */
.body{
    margin-top:1rem;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 80px);
    height:550px;
}

.chat-box{
    /* width:200px;
    height:33px; */
    background-color:#025d4c;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    margin: 0 50px 0 50px;
}

#body-row-1{
    align-self:center;
   
}
#body-row-2{
    
    align-self: center;
    grid-column-start:2;
    grid-row-start:2;
    justify-self:end;
}
#body-row-3{
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 3;
}
#body-row-4{
    align-self:center;
    justify-self:end;
    grid-column-start:2;
    grid-row-start:4;
}
#body-row-5{
    grid-column-start:1;
    grid-row-start:5;
}
#body-row-6{
    align-self:center;
    justify-self:end;
    grid-column-start:2;
    grid-row-start:6;
}
#body-row-7{
    grid-column-start:1;
    grid-row-start:7;
}
#body-row-8{
    align-self:center;
    justify-self:end;
    grid-column-start:2;
    grid-row-start:8;
}
#body-row-9{
    grid-column-start:1;
    grid-row-start:9;
}
#body-row-10{
    align-self:center;
    justify-self:end;
    grid-column-start:2;
    grid-row-start:10;
}

.chat{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2px;
    line-height: 20px;
    color: #FFFFFF;
}
/* #body-row-4{
    align-self: center;
    grid-row-start:4;
    grid-column-start:2;
    justify-self:end;
} */

.hide-msg{
    display:none;
}
.show-msg{
    display:flex;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #424040; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }


  .popup{
    width:558;
    height:158;
    background-color: #828E97;
    border-radius: 8px;
    /* transform: translate(-50%, 50%); */
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  }
  .thnq{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 47px;
color: #025D4C;
margin-left: 2rem;
  }