<div class="main">
<div class="header">
    <div class="row-1">
        <p class="name">Raman</p>
    </div>
</div>
<div class="body" #chatContainer>
    <div class="chat-box" id="body-row-1" >
        <p class="chat">Hello Raman, can you introduce yourself and your educational background?
        </p>
    </div>
    <div class="chat-box" id="body-row-2">
        <p class="chat">Hi, I'm Raman, currently pursuing B.Tech in Computer Science.</p>
    </div>
    <div class="chat-box" id="body-row-3">
        <p class="chat">Great. What programming languages are you familiar with?.</p>
    </div>
    <div class="chat-box" id="body-row-4">
        <p class="chat">I know HTML, CSS, JavaScript, Angular, and Java..</p>
    </div>
    <div class="chat-box" id="body-row-5">
        <p class="chat">That's impressive. Could you tell me more about your experience with these languages?
        </p>
    </div>
    <div class="chat-box" id="body-row-6">
        <p class="chat">I have used HTML, CSS, and JavaScript to build websites, and I have worked with Angular for web application development. In addition, I have experience in Java for desktop applications and Android development.
        </p>
    </div>
    <div class="chat-box" id="body-row-7">
        <p class="chat">That's a good mix of skills. Have you worked on any notable projects?
        </p>
    </div>
    <div class="chat-box" id="body-row-8">
        <p class="chat">Yes, I've collaborated on an e-commerce platform using Angular and Java. I've also completed personal projects like a responsive portfolio website and a Java-based inventory management system.
        </p>
    </div>
    <div class="chat-box" id="body-row-9">
        <p class="chat">That's excellent. Your experiences sound valuable. Thank you, Raman, for sharing this information.
        </p>
    </div>
    <div class="chat-box" id="body-row-10">
        <p class="chat">You're welcome. It was my pleasure.
        </p>
    </div>

    <!-- <div class="chat-box" id="body-row-3">
        <p class="chat">
            <a id="resume-link" 
            href="https://drive.google.com/file/d/1rSHQ8yYE1ig9_ofbhyJCLxX8iIKAUEOK/view?usp=sharing" download target="_blank" 
            (click)="handleClick()">Download Resume</a>
        </p>
    </div> -->
    <!-- </div>
    <div class="chat-box {{message}}" id="body-row-4" #scrollToElement>
        <p class="chat">thank you</p>
    </div> -->
    

    <div class="popup {{message}}" id="body-row-15">
       <p class="thnq">
           you really want to hire me! thank you
       </p>
    </div>
</div>
</div>